/* ページ全体の背景色などを設定 */
main {
	background: #ffffff;
}

/* ページの見出し領域の背景色，画像などを設定（id属性で設定） */
#bg-head {
	background-image: url(../photos/haikei.jpg);
	background-repeat: no-repeat;
	font-size: 20px;
	color: #000000;
}

#bg-head2{
	background-image: url(../photos/rasuka.jpg);
	font-size: 20px;
	color: #000000;
}
#bg-head3{
	 background-image: url(../photos/shuhen.jpg);
	 font-size: 20px;
	 color: #ffffff;
 }
.jumbotron-heading{
	font-size: 80px;
	color: #000000;
	text-shadow: 3px 3px 5px gray;
}

/* class属性で設定した領域で背景を青系（#99e0ff）にする */
.bg-lightblue{
	background: #808080;
	color: #ffffff;
}

.border-dashed{
	border: 5pt;
	border-style: double;
	border-color: #808080;
}

.border-radius{
	border: 1pt;
  border-radius: 100px;
}

.box-shadow{
	box-shadow: 2px 2px 4px #ffffff; /*影の幅 右 下　ぼかしの幅　影の色(カラーコードも可） */
}

/* 地図の表示領域の設定 */
#maped{
	float: left;
	clear: left;
	width: 500px;
	height: 500px;
}
